body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input, label{
  width: 10rem;
  color: black;
  text-align:center;
  font-family: Gloria Hallelujah;
}


/* body{
  background-image: linear-gradient(to bottom right, #71d1fe, #ffffff);
  background-repeat: no-repeat;
} */