body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input, label{
  width: 10rem;
  color: black;
  text-align:center;
  font-family: Gloria Hallelujah;
}


body{
  background: radial-gradient(closest-side, #ffffff, #71d1fe);
  background-repeat: no-repeat;
  height: 100vh;
}
img{
  width: 30%;
  height:30%;
  /* position:absolute; */
  padding-left: 10rem;
}